<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dabloons.wattsapp">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.dabloons.wattsapp.WattsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Watts"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.room.RoomActivity"
            android:exported="true" />
        <activity
            android:name=".manager.auth.callback.OnFailureActivity"
            android:exported="false" />
        <activity
            android:name=".manager.auth.callback.OnSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${appAuthRedirectScheme}" />
            </intent-filter>
        </activity>
    </application>

</manifest>